{% extends 'layout.html.twig' %}

{% block body %}
    <p>Der Zug {{ data.history | last }} wurde erfolgreich hinzugefügt.</p>
    <p><a href="{{ url('match_detail', {'id': data.id}) }}">Klicke hier um zum Match zu gelangen.</a></p>
{% endblock %}
