{% extends 'layout.html.twig' %}

{% block body %}
    <p>Der Benutzer wurde erfolgreich gelöscht.</p>
    <p><a href="{{ url('user_list') }}">Klicke hier um zur Benutzerübersicht zu gelangen.</a></p>
{% endblock %}
