{% extends 'layout.html.twig' %}

{% block body %}
    <p>Der Benutzer wurde erfolgreich bearbeitet.</p>
    <p><a href="{{ url('user_detail', {'id': data.id}) }}">Klicke hier um zum Benutzer zu gelangen.</a></p>
{% endblock %}
